<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43392585783-6r568fqn7sk2o9idmubt156rj59a80qb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43392585783-6r568fqn7sk2o9idmubt156rj59a80qb</string>
	<key>API_KEY</key>
	<string>AIzaSyDQEOKB8EdVWsepIvKkx7p2V069935jqkE</string>
	<key>GCM_SENDER_ID</key>
	<string>43392585783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.genuinelyoptimistic.qpoll</string>
	<key>PROJECT_ID</key>
	<string>qpoll-3c4b1</string>
	<key>STORAGE_BUCKET</key>
	<string>qpoll-3c4b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43392585783:ios:18cf3a36f268a09785afb2</string>
	<key>DATABASE_URL</key>
	<string>https://qpoll-3c4b1.firebaseio.com</string>
</dict>
</plist>